body{
  background-image: linear-gradient(to right top, #85a4a2, #679baa, #5b8db5, #7279b4, #965f9e);
}
#product-list {
  display: flex;
  flex-wrap: wrap; 
}
.product {
  border: 2px solid black;
  box-shadow: 10px 5px rgb(0, 0, 0);
  padding: 25px;
  margin: 10px;
  width: 300px;
  text-align: center;
}
.product img {
  width: 200px;
  height: 200px;
}
.product h2 {
  margin-top: 10px;
  margin-bottom: 5px;
}
.product p {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}
.product button {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
